#coffee a {
  color:#fff;
}

#coffee p a {
  text-decoration:underline;
}


/* http://www.colourlovers.com/palette/45488/french_vanilla */
body {
  background: #5f3711;
  color:#eee;
}

.fill-coffee {
  background: #5f3711;
}

.coffee-select {
  border: 0;
  font-size:35px;
  display:inline-block;
  vertical-align: middle;
  width:40%;
  background:transparent;
  color:#ddd;
  border-radius:0;
  -webkit-appearance:none;
  line-height:35px;
  box-sizing:border-box;
  height:55px;
  padding:5px 5px 5px 20%;
  margin:0;
}

input[type=number].coffee-input {
  border: 0;
  font-size:65px;
  line-height:60px;
  height:85px;
  display:inline-block;
  color:#fff;
  background:transparent;
  width:60%;
  vertical-align: middle;
  padding:5px;
  text-align:left;
}

.limit-mobile {
  width:300px;
  margin:0 auto;
}

.price-tag {
    display:inline-block;
    width:50px;
    text-align:center;
    margin-right:10px;
}

.italic {
    font-style:italic;
}
