.coffee-select {
  border: 0;
  font-size:35px;
  display:inline-block;
  vertical-align: middle;
  width:40%;
  background:#fff;
  color:#666;
  border-radius:0;
  -webkit-appearance:none;
  line-height:35px;
  box-sizing:border-box;
  height:55px;
  padding:5px 5px 5px 20%;
  margin:0;
}

input[type=number].coffee-input {
  border: 0;
  font-size:65px;
  line-height:60px;
  height:85px;
  display:inline-block;
  color:#000;
  width:60%;
  vertical-align: middle;
  padding:5px;
  text-align:left;
}

.limit-mobile {
  width:300px;
  margin:0 auto;
}
